@import url(../css/Global.css);

.funciona_sec {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--branco);
  padding: 40px 20px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container h1 {
  color: var(--azul_claro);
  text-align: center;
  font-family: Lexend, var(--fonte_lexend);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.video {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}

.container .btn {
  width: 80%;
  max-width: 300px;
  height: 50px;
  border-radius: 47px;
  background-color: var(--amarelo);
  color: var(--azul_escuro);
  font-family: var(--fonte_inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.container .btn:hover {
  background-color: var(--azul_claro);
  color: var(--branco_puro);
  cursor: pointer;
}

@media (min-width: 601px) {
  .container h1 {
    font-size: 32px;
  }
  
  .container .btn {
    width: 50%;
    height: 55px;
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .container h1 {
    font-size: 40px;
  }

  .container .btn {
    width: 30%;
    height: 60px;
    font-size: 28px;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  .funciona_sec {
    padding: 20px;
  }

  .container {
    gap: 15px;
  }

  .container h1 {
    font-size: 20px;
  }

  .video {
    max-width: 500px;
  }

  .container .btn {
    height: 40px;
    font-size: 16px;
  }
}