@import url(../css/Global.css);

.hero_sec {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

.bg_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bg_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text {
  position: relative;
  z-index: 1;
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  left: 5%;
  align-items: center;
  justify-content: center;
}

.text h1 {
  color: var(--azul_escuro);
  text-align: center;
  font-family: var(--fonte_lexend);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttons {
  position: relative;
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.btn1,
.btn2 {
  width: 45%;
  height: 50px;
  border-radius: 47px;
  color: var(--azul_escuro);
  font-family: var(--fonte_inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.2s;
}

.btn1 {
  background-color: var(--amarelo);
}

.btn1:hover {
  background-color: var(--azul_claro);
  color: var(--branco_puro);
  cursor: pointer;
}

.btn2 {
  background-color: var(--branco_puro);
}

.btn2:hover {
  background-color: var(--azul_claro);
  color: var(--branco_puro);
  cursor: pointer;
}

@media (max-width: 600px) {
  .hero_sec {
    height: 70svh;
    justify-content: center;
    align-items: center;
  }

  .bg_image img {
    object-position: 80% center;
  }

  .text {
    top: 35%;
    left: 0;
    width: 80%;
    height: auto;
    gap: 16px;
  }

  .text h1 {
    font-size: 22px;
    text-align: center;
    color: var(--branco_puro);
  }

  .buttons {
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .btn1,
  .btn2 {
    width: 45%;
    height: 40px;
    font-size: 13px;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .hero_sec {
    height: 70svh;
    justify-content: left;
    align-items: center;
  }

  .bg_image img {
    object-position: 70% center;
  }

  .text {
    top: 35%;
    left: 25%;
    width: 50%;
    height: auto;
    gap: 16px;
  }

  .text h1 {
    font-size: 22px;
    text-align: center;
    color: var(--branco_puro);
  }

  .buttons {
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .btn1,
  .btn2 {
    width: 45%;
    height: 40px;
    font-size: 13px;
  }
}

@media (min-width: 1001px) and (max-width: 1270px) {
  .text {
    width: 50%;
    height: auto;
    gap: 16px;
  }

  .text h1 {
    font-size: 35px;
    text-align: center;
  }

  .buttons {
    width: 100%;
    height: auto;
    gap: 10px;
  }
}