@import url(../css/Global.css);

.planos_sec {
  position: relative;
  width: 100%;
  height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container */

.container {
  width: 90%;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container h1 {
  color: var(--azul_claro);
  text-align: center;
  font-family: var(--fonte_lexend);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px;
}

.container h2 {
  color: var(--azul_oc);
  text-align: center;
  font-family: var(--fonte_inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}

/* Planos */

.container_planos {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

/* Card plano */

.plano {
  width: 30%;
  height: 600px;
  background-color: #000;
  border-radius: 47px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.nome_p {
  width: 90%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.nome_p h2 {
  color: var(--branco_puro);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #2b373f;
  font-family: var(--fonte_inter);
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.nome_p h3 {
  color: var(--amarelo);
  font-family: var(--fonte_inter);
  font-size: 40px;
  font-weight: 600;
}

/* Vantagens */

.vantagens {
  width: 90%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Botão */

.btn {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn button {
  width: 50%;
  height: 50px;
  border-radius: 60px;
  background-color: var(--amarelo);
  border: 1px solid var(--azul_escuro);
  color: var(--azul_escuro);
  font-family: var(--fonte_inter);
  font-size: 20px;
  font-weight: 600;
}

.btn button:hover {
  background-color: var(--branco_puro);
  transition: 0.1s;
  cursor: pointer;
}

.item_vant {
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 15px;
}

/* Textos */

.texts_n {
  width: 80%;
}

.texts_n h4 {
  color: var(--branco_puro);
  font-family: var(--fonte_inter);
  font-size: 20px;
  font-weight: 300;
}

.item_vant h4 {
  color: var(--branco_puro);
  font-family: var(--fonte_inter);
  font-size: 20px;
  font-weight: 400;
}

/* Variações */

.plano_1 {
  background-color: var(--cinza);
}

.plano_2 {
  height: 650px;
  justify-content: space-around;
  background-color: var(--azul_claro);
}

.plano_3 {
  justify-content: space-between;
  height: 700px;
  background-color: var(--azul_escuro);
}

/* Plano recomendado */

.recomendado {
  width: 100%;
  height: 80px;
  background-color: var(--amarelo);
  border-radius: 47px 47px 0 0;
  color: var(--azul_escuro);
  font-family: var(--fonte_inter);
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile */

@media (max-width: 600px) {
  .planos_sec {
    height: 2000px;
  }

  .container {
    height: auto;
  }

  .container h1 {
    font-size: 24px;
  }

  .container_planos {
    align-items: center;
    flex-direction: column;
    height: 1950px;
  }

  .plano {
    width: 90%;
  }

  .item_vant h4 {
    font-size: 16px;
  }
}

/* Tablet */

@media (min-width: 601px) and (max-width: 900px) {
  .planos_sec {
    height: 2200px;
  }

  .container {
    height: auto;
  }

  .container h1 {
    font-size: 24px;
  }

  .container_planos {
    align-items: center;
    flex-direction: column;
    height: 1950px;
  }

  .plano {
    width: 60%;
  }
}

@media (min-width: 901px) and (max-width: 1100px) {
  .planos_sec {
    height: 2200px;
  }

  .container {
    height: auto;
  }

  .container h1 {
    font-size: 26px;
  }

  .container_planos {
    align-items: center;
    flex-direction: column;
    height: 1950px;
  }

  .plano {
    width: 50%;
  }
}
